@import '../../../styles/global.scss';
.catalog {
    position: absolute;
    top: 50px;
    left: 0px;
    background: $globalDarkBackgroundColor;
    width: $catalogWidth;
    height: calc(100% - 50px);
    font-size: 14px;
    color: #b4b4b4;
    .room-name {
        height: 30px;
        display: flex;
        width: 100%;
        background: $globalGrayBackgroundColor;
        justify-content: center;
        align-items: center;
    }
    .hotspot-added {
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .add-btn {
            width: 230px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid $globalGrayBackgroundColor;
            border-radius: 2px;
            cursor: pointer;
        }
        .add-btn:hover {
            color: $goldColor;
        }
    }
    .hotspots-container {
        width: 100%;
        height: calc(100% - 80px);
        padding-left: 15px;
        .item {
            width: 230px;
            height: 180px;
            cursor: pointer;
            .img {
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    vertical-align: bottom;
                }
            }
            .description {
                width: 100%;
                height: 26px;
                line-height: 26px;
                background: $globalGrayBackgroundColor;
                position: relative;
                .name {
                    display: inline-block;
                    margin-left: 5px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    width: 200px;
                }
                .delete-btn {
                    display: inline-block;
                    position: absolute;
                    right: 5px;
                    top: 4px;
                    .btn {
                        width: 20px;
                        height: 20px;
                    }
                    .normal {
                        display: block;
                    }
                    .active {
                        display: none;
                    }
                }
                .delete-btn:hover {
                    .normal {
                        display: none;
                    }
                    .active {
                        display: block;
                    }
                }
            }
        }
    }
}