@import '../../../styles/global.scss';
.render-job {
    position: fixed;
    top: 25%;
    left: 35%;
    .job-choose {
        width: 660px;
        height: 510px;
        background-color: rgba(255, 255, 255, 0.77);
        .header {
            width: 100%;
            height: 30px;
            background: $globalDarkBackgroundColor;
            position: relative;
            color: white;
            line-height: 30px;
            .title {
                margin-left: 10px;
            }
            .close {
                position: absolute;
                right: 10px;
                top: 0px;
                font-size: 26px;
                cursor: pointer;
            }
            .close:hover {
                color: $goldColor;
            }
        }
        .job-container {
            position: relative;
            width: 650px;
            height: 370px;
            margin-left: 10px;
            margin-top: 10px;
            .item {
                vertical-align: top;
                display: inline-block;
                width: 206px;
                margin-right: 10px;
                margin-bottom: 10px;
                cursor: pointer;
                .img {
                    width: 100%;
                    height: 150px;
                    position: relative;
                    img {
                        width: 100%;
                        height: 100%;
                        vertical-align: bottom;
                    }
                    .mask {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(46, 46, 46, 0.77);
                        top: 0;
                        left: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .img-control {
                            width: 60px;
                            height: 60px;
                        }
                    }
                }
                .description {
                    height: 20px;
                    background: $globalDarkBackgroundColor;
                    line-height: 20px;
                    padding-left: 5px;
                    color: white;
                    .name {
                        display: inline-block;
                        margin-left: 5px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        width: 190px;
                    }
                }
            }
        }
        .pagination {
            width: 100%;
            height: 40px;
            text-align: center;
        }
        .pagination-control {
            display: inline-flex;
            height: 40px;
            line-height: 40px;
            li {
                height: 30px;
                display: flex;
            }
            .page-item {
                border-left: 1px solid #6e6e6e;
                border-top: 1px solid #6e6e6e;
                border-bottom: 1px solid #6e6e6e;
            }
            .prev-class {
                border-left: 1px solid #6e6e6e;
                border-top: 1px solid #6e6e6e;
                border-bottom: 1px solid #6e6e6e;
            }
            .next-class {
                border: 1px solid #6e6e6e;
            }
            .active {
                a {
                    color: $goldColor !important;
                }
            }
            a:focus {
                outline: none;
            }
            .prev-class,
            .next-class,
            .page-item {
                a {
                    color: #232323;
                    width: 100%;
                    height: 100%;
                    display: inline-block;
                    padding: 0px 7px;
                    line-height: 30px;
                }
            }
            .prev-class:hover,
            .next-class:hover,
            .page-item:hover {
                a {
                    color: $goldColor;
                }
            }
        }
        .btn-group {
            height: 50px;
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            .btn {
                width: 80px;
                height: 26px;
                background: #474747;
                text-align: center;
                line-height: 26px;
                border-radius: 2px;
                color: white;
                cursor: pointer;
            }
            .btn:hover {
                background: $goldColor;
            }
        }
    }
    .vue-loading {
        position: absolute;
        top: 40%;
        left: 45%;
    }
}